---
Language: Cpp
BasedOnStyle: Google
AlignAfterOpenBracket: Align
AlignEscapedNewlinesLeft: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'true'
AllowShortBlocksOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: 'true'
AllowShortLoopsOnASingleLine: 'false'
BinPackArguments: 'true'
BinPackParameters: 'false'
DerivePointerAlignment: 'false'
PointerAlignment: 'Left'
IncludeBlocks: 'Preserve'
IndentWrappedFunctionNames: 'true'
KeepEmptyLinesAtTheStartOfBlocks: 'true'
ReflowComments: 'false'
Standard: Cpp11
...

